html {
  --ratio: 1.61803;
  --ratio--pow: 2.61803;
  --ratio--pow--3: 4.23603665;
  --ratio--inv: 0.61803;
  --ratio--inv--pow: 0.38196;
  --ratio_em: calc(var(--ratio) * 1em);
  --ratio--pow_em: calc(var(--ratio--pow) * 1em);
  --ratio--pow--3_em: calc(var(--ratio--pow--3) * 1em);
  --ratio--inv_em: calc(var(--ratio--inv) * 1em);
  --ratio--inv--pow_em: calc(var(--ratio--inv--pow) * 1em);
  --breakpoint__small: 720px;
  --breakpoint__medium: 1064px;
  --breakpoint__large: 1370px;
  --color__black--components: 223, 23%, 20%;
  --color__black: hsl(var(--color__black--components));
  --color__black--trans: hsla(
    var(--color__black--components),
    var(--ratio--inv)
  );
  --color__white: #fff;
  --color__gray: #999;
  --color__gray--light: #eee;
  --color__gray--dark: #5d5d66;
  --color__blue: #1f74ad;
  --color__blue--light: #68b2e4;
  --body-font: "Helvetica Neue", Helvetica, sans-serif;
  --code-font: "Droid Sans Mono", "consolas", "monaco", "courier", monospace;
  --heading-font: var(--body-font);
  --line-height: 1.8em;
  --font-weight: 300;
  --font-size: 16px;
  --paragraph-width: 38em;
  --underline-height: 2px;
  background-color: var(--color__white);
  color: var(--color__black);
  font-family: var(--body-font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}
@media screen and (min-width: 56em) {
  html {
    font-size: calc(var(--font-size) * 1.2);
  }
}
em,
i {
  font-style: italic;
}
b,
strong {
  font-weight: 700;
}
u {
  text-decoration: underline;
}
s,
strike {
  text-decoration: line-through;
}
p {
  margin-bottom: var(--ratio--inv_em);
  max-width: var(--paragraph-width);
}
ol,
ul {
  margin-bottom: var(--ratio_em);
  margin-left: 1em;
}
a,
a:visited {
  color: var(--color__blue);
  transition: color var(--animation_interaction);
}
a:focus,
a:hover {
  color: var(--color__blue--light);
}
img {
  font-style: italic;
  max-width: 100%;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  font-weight: 500;
  line-height: 1em;
  margin: var(--ratio_em) 0 var(--ratio--inv_em);
}
h1 {
  font-size: var(--ratio--pow_em);
}
h2{
  font-size: var(--ratio_em);
}
h3,
h4 {
  font-size: calc(0.5 * var(--ratio--inv_em) + 1em);
}
blockquote {
  border-left: var(--ratio--inv_em) solid var(--color__gray--light);
  padding-left: 1em;
  font-size: var(--ratio_em);
  line-height: var(--ratio_em);
}
code {
  -webkit-font-smoothing: antialiased;
  background-color: var(--color__gray--dark);
  border-radius: 3px;
  color: var(--color__white);
  font-family: var(--code-font);
  padding: 0.1459em 0.38197em;
  white-space: pre;
}
a code {
  background-color: var(--color__blue);
  transition: background var(--animation_interaction);
}
a code:focus,
a code:hover {
  background-color: var(--color__blue--light);
}

body {
  padding: var(--ratio--pow_em);
}

article {
  margin-bottom: 10em;
}

article h1 {
  border-bottom: 5px solid var(--color__blue);
}


.headings {
  padding: calc(var(--ratio--inv--pow) * 100vh) 0 calc(var(--ratio--inv--pow) * 30vh);
}
.main-heading {
  font-size: var(--ratio--pow--3_em);
  margin-top: 0;
}
.sub-heading {
  margin: 0; 
}